<% include ../partials/headfile %>
<div class="container">
    <h1 style="text-align:center;">Update <%= User.username %></h1>
    <div class="row">
    <div style="width:50%; margin:25px auto;">
        <form action="/user/<%= User._id%>?_method=PUT" method="POST" enctype="multipart/form-data">
   <div class="form-group">
   Username: <input class="form-control" value="<%= User.username %>" type="text" name="Name" required>
   </div>
   <div class="form-group">
   Email: <input class="form-control" value="<%= User.Email %>" type="email" name="Email" required>
   </div>
<div class="form-group">
    <div class="input-group mb-3">
    <div class="input-group-prepend">
    <span class="input-group-text">Upload Image</span>
    </div>
    <div class="custom-file">
    <input class="form-control" type="file" id="Link"  name="Link" accept="image/*" >    
    <label class="custom-file-label" for="Link">Choose Image</label>
    </div>
    </div>
</div>
<div class="form-group">
    <button id="Update" class="btn btn-lg btn-default btn-block btn-primary">Update</button>
</div>
</form>
<a href="/user/<%= User._id%>">Return</a>
</div>
</div>
</div>
<% include ../partials/footfile %>
