<%include ../partials/headfile %>
    <br>
<div="container">
    <header class="jumbotron"> 
        <div class="container">
                <h1>CriticHub</h1>
                <p>Best place to review restaurants<p>
                    <p>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">Restaurant Name/ Address</span>
  </div>
<input id="search" class="form-control mr-sm-2" type="search" name="Search" aria-label="Search">
</div>
                    </p>
                 <% if(!currentUser){ %>
                <% }else{ %>
                 <% if(currentUser.Type == 'Critic'){ %>
                 <p>View our restaurants<p>
                  <% }else{ %>
                  <p><a class="btn btn-primary btn-lg" href="/restaurants/new">Add Restaurant</a></p>
                  <% Restaurants.forEach(function(restaurant){%>
            <% if(restaurant.Originator.id.equals(currentUser._id)){%>
             <div class="invisible" style="display:none;"><p><a class="btn btn-primary btn-lg" href="/restaurants/new">Add Restaurant</a></p></div>
            <% } else{ %>
                 
                  <% } %>
                  <% }); %>
     <% } %>
     <% } %>

        </div>
    </header>

         <div class="row text-center" style="display:flex; flex-wrap:wrap;">
        <% Restaurants.forEach(function(restaurant){%>
        <div class="col-md-3 col-sm-6">
            <div class="img-thumbnail">
                <img class="img-fluid" src="<%= restaurant.Image%>" alt="Restaurant Cloudinary">
                <div class="caption">
                     <h3 id="tester"><%= restaurant.Name %></h3>
                </div>
                <p>
                    <a class="btn btn-primary" id="<%= restaurant.Name %>" href="/restaurants/<%= restaurant._id%>">View</a>
                </p>
            </div>
        </div>
        <% }); %>
        </div>
</div>
<script>
$(document).ready(function(){
    let search = [];
    let defSearch = [];
    let tester;
<% Restaurants.forEach(function(restaurant){ %>
      tester = {
     Originator:{ 
     id: "<%= restaurant.Originator.id%>",
     username: "<%= restaurant.Originator.username%>",
     Email: "<%= restaurant.Originator.Email%>"
     },
     _id: "<%= restaurant._id %>",
     Name: "<%= restaurant.Name %>",
     Image:"<%= restaurant.Image %>",
     Address:"<%= restaurant.Address %>"
     }
     search.push(tester);
     defSearch.push(tester);
    <% }); %>
let options = {
  shouldSort: true,
  findAllMatches: true,
  threshold: 0.6,
  location: 0,
  distance: 100,
  maxPatternLength: 32,
  minMatchCharLength: 0,
  keys: [
    "Name",
    "Address"
]
};
let fuse = new Fuse(search, options); // "list" is the item array
$("#search").keyup(function(){
    $(".row,text-center").empty();
    let query = $("#search").val();
    let textvalue = $("#search").text();
    let result = fuse.search(query);
 console.log("Query: " + result);
if(result){
        $(".row,text-center").empty();
        for(let x=0; x< result.length; x++){
        let restaurant = "<div class='col-md-3 col-sm-6'> <div class='img-thumbnail'> <img class='img-fluid' src='"+result[x].Image+"' alt='Restaurant Cloudinary'> <div class='caption'> <h3 id='tester'>"+result[x].Name+"</h3> <p><a class='btn btn-primary' id='"+result[x].Name+"' href='/restaurants/"+result[x]._id+"'>View </a></p></div></div>";
        $(".row,text-center").append(restaurant);
        }
    
}
if(result.length == 0){
        $(".row,text-center").empty();
        for(let x=0; x< defSearch.length; x++){
        let restaurant = "<div class='col-md-3 col-sm-6'> <div class='img-thumbnail'> <img class='img-fluid' src='"+defSearch[x].Image+"' alt='Restaurant Cloudinary'> <div class='caption'> <h3 id='tester'>"+defSearch[x].Name+"</h3> <p><a class='btn btn-primary' id='"+defSearch[x].Name+"' href='/restaurants/"+defSearch[x]._id+"'>View </a></p></div></div>";
        $(".row,text-center").append(restaurant);
        }
     } 
});
});

</script>
<% include ../partials/footfile %>
